@charset "UTF-8";
/* ----- Loader ----- */
.loader-wrapper {
  width: 148px;
  height: 100px;
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 60%; }

.loader {
  width: 148px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute; }
  .loader:after {
    content: "";
    top: auto;
    position: absolute;
    display: block;
    animation: shadow 1.2s infinite linear;
    -moz-animation: shadow 1.2s infinite linear;
    bottom: 0em;
    left: 0;
    height: .25em;
    width: 1em;
    border-radius: 50%;
    background-color: #034466;
    opacity: 0.3; }

.roller,
.roller:last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster 1.2s infinite linear;
  -webkit-transform: rotate(135deg);
  -moz-animation: rollercoaster 1.2s infinite linear;
  -moz-transform: rotate(135deg);
  animation: rollercoaster 1.2s infinite linear;
  transform: rotate(135deg); }

.roller:last-child {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 1.2s infinite linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 1.2s infinite linear;
  transform: rotate(-45deg);
  animation: rollercoaster2 1.2s infinite linear; }

.roller:before,
.roller:last-child:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%; }

@-webkit-keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg); }
  8% {
    -webkit-transform: rotate(240deg); }
  20% {
    -webkit-transform: rotate(300deg); }
  40% {
    -webkit-transform: rotate(380deg); }
  45% {
    -webkit-transform: rotate(440deg); }
  50% {
    -webkit-transform: rotate(495deg);
    opacity: 1; }
  50.1% {
    -webkit-transform: rotate(495deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(495deg);
    opacity: 0; } }

@-webkit-keyframes rollercoaster2 {
  0% {
    opacity: 0; }
  49.9% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg); }
  58% {
    -webkit-transform: rotate(-160deg); }
  70% {
    -webkit-transform: rotate(-240deg); }
  80% {
    -webkit-transform: rotate(-300deg); }
  90% {
    -webkit-transform: rotate(-340deg); }
  100% {
    -webkit-transform: rotate(-405deg); } }

@-webkit-keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5); }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2); }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3); }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1; }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3; }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    opacity: 0.05; }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2); }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1; }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8); }
  100% {
    -webkit-transform: translateX(60px);
    opacity: 0.3; } }

/* Moz */
@-moz-keyframes rollercoaster {
  0% {
    -moz-transform: rotate(135deg); }
  8% {
    -moz-transform: rotate(240deg); }
  20% {
    -moz-transform: rotate(300deg); }
  40% {
    -moz-transform: rotate(380deg); }
  45% {
    -moz-transform: rotate(440deg); }
  50% {
    -moz-transform: rotate(495deg);
    opacity: 1; }
  50.1% {
    -moz-transform: rotate(495deg);
    opacity: 0; }
  100% {
    -moz-transform: rotate(495deg);
    opacity: 0; } }

@-moz-keyframes rollercoaster2 {
  0% {
    opacity: 0; }
  49.9% {
    opacity: 0; }
  50% {
    opacity: 1;
    -moz-transform: rotate(-45deg); }
  58% {
    -moz-transform: rotate(-160deg); }
  70% {
    -moz-transform: rotate(-240deg); }
  80% {
    -moz-transform: rotate(-300deg); }
  90% {
    -moz-transform: rotate(-340deg); }
  100% {
    -moz-transform: rotate(-405deg); } }

@-moz-keyframes shadow {
  0% {
    opacity: .3;
    -moz-transform: translateX(65px) scale(0.5, 0.5); }
  8% {
    -moz-transform: translateX(30px) scale(2, 2); }
  13% {
    -moz-transform: translateX(0px) scale(1.3, 1.3); }
  30% {
    -moz-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1; }
  50% {
    -moz-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3; }
  60% {
    -moz-transform: translateX(130px) scale(2, 2);
    opacity: 0.05; }
  65% {
    -moz-transform: translateX(145px) scale(1.2, 1.2); }
  80% {
    -moz-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1; }
  90% {
    -moz-transform: translateX(80px) scale(0.8, 0.8); }
  100% {
    -moz-transform: translateX(60px);
    opacity: 0.3; } }

/* No-prefix */
@keyframes rollercoaster {
  0% {
    transform: rotate(135deg); }
  8% {
    transform: rotate(240deg); }
  20% {
    transform: rotate(300deg); }
  40% {
    transform: rotate(380deg); }
  45% {
    transform: rotate(440deg); }
  50% {
    transform: rotate(495deg);
    opacity: 1; }
  50.1% {
    transform: rotate(495deg);
    opacity: 0; }
  100% {
    transform: rotate(495deg);
    opacity: 0; } }

@keyframes rollercoaster2 {
  0% {
    opacity: 0; }
  49.9% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: rotate(-45deg); }
  58% {
    transform: rotate(-160deg); }
  70% {
    transform: rotate(-240deg); }
  80% {
    transform: rotate(-300deg); }
  90% {
    transform: rotate(-340deg); }
  100% {
    transform: rotate(-405deg); } }

@keyframes shadow {
  0% {
    opacity: .3;
    transform: translateX(65px) scale(0.5, 0.5); }
  8% {
    transform: translateX(30px) scale(2, 2); }
  13% {
    transform: translateX(0px) scale(1.3, 1.3); }
  30% {
    transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1; }
  50% {
    transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3; }
  60% {
    transform: translateX(130px) scale(2, 2);
    opacity: 0.05; }
  65% {
    transform: translateX(145px) scale(1.2, 1.2); }
  80% {
    transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1; }
  90% {
    transform: translateX(80px) scale(0.8, 0.8); }
  100% {
    transform: translateX(60px);
    opacity: 0.3; } }

#loader2:after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

#loader2 .roller {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

#loader3:after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

#loader3 .roller {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

/* 字体 */
/* 宽度 */
/* 圆角 */
/* 盒子排列mixin */
/************************************************************************************/
/* 图片相关mixin */
/************************************************************************************/
/**/
/* p标签不换行且自带省略号 */
/* some util css*/
.mb1 {
  margin-bottom: 1em; }

.mt1 {
  margin-top: 1rem; }

.mt105 {
  margin-top: 1.5rem; }

.mt2 {
  margin-top: 2rem; }

.ml1 {
  margin-left: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb05 {
  margin-bottom: 0.5em; }

.mt05 {
  margin-top: 0.5rem; }

.ml05 {
  margin-left: 0.5rem; }

.mr05 {
  margin-right: 0.5rem; }

/* layouts */
.l-box__allMid {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center; }

.l-box__rowMid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.l-box__verMid {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.l-box__row {
  display: flex;
  flex-flow: row nowrap; }

/* 字体 */
/* typefaces 28 18 16 14 12*/
.t1, .t1-white, .t1-red, .t1-black, .t1-c1, .t1-c1__light, .t1-c1__normal, .t1-c1__bold, .t1-c2, .t1-c2__light, .t1-c2__normal, .t1-c2__bold, .t1-c3, .t1-c3__light, .t1-c3__normal, .t1-c3__bold, .t1-c4, .t1-c4__light, .t1-c4__normal, .t1-c4__bold {
  font-size: 28px; }

.t2, .t2-white, .t2-red, .t2-black, .t2-c1, .t2-c1__light, .t2-c1__normal, .t2-c1__bold, .t2-c2, .t2-c2__light, .t2-c2__normal, .t2-c2__bold, .t2-c3, .t2-c3__light, .t2-c3__normal, .t2-c3__bold, .t2-c4, .t2-c4__light, .t2-c4__normal, .t2-c4__bold {
  font-size: 18px; }

.t3, .t3-white, .t3-red, .t3-black, .t3-c1, .t3-c1__light, .t3-c1__normal, .t3-c1__bold, .t3-c2, .t3-c2__light, .t3-c2__normal, .t3-c2__bold, .t3-c3, .t3-c3__light, .t3-c3__normal, .t3-c3__bold, .t3-c4, .t3-c4__light, .t3-c4__normal, .t3-c4__bold {
  font-size: 16px; }

.t4, .t4-white, .t4-red, .t4-black, .t4-c1, .t4-c1__light, .t4-c1__normal, .t4-c1__bold, .t4-c2, .t4-c2__light, .t4-c2__normal, .t4-c2__bold, .t4-c3, .t4-c3__light, .t4-c3__normal, .t4-c3__bold, .t4-c4, .t4-c4__light, .t4-c4__normal, .t4-c4__bold {
  font-size: 14px; }

.t5, .t5-white, .t5-red, .t5-black, .t5-c1, .t5-c1__light, .t5-c1__normal, .t5-c1__bold, .t5-c2, .t5-c2__light, .t5-c2__normal, .t5-c2__bold, .t5-c3, .t5-c3__light, .t5-c3__normal, .t5-c3__bold, .t5-c4, .t5-c4__light, .t5-c4__normal, .t5-c4__bold {
  font-size: 12px; }

.t_light, .t1-white__light, .t1-red__light, .t1-black__light, .t1-c1__light, .t1-c2__light, .t1-c3__light, .t1-c4__light, .t2-white__light, .t2-red__light, .t2-black__light, .t2-c1__light, .t2-c2__light, .t2-c3__light, .t2-c4__light, .t3-white__light, .t3-red__light, .t3-black__light, .t3-c1__light, .t3-c2__light, .t3-c3__light, .t3-c4__light, .t4-white__light, .t4-red__light, .t4-black__light, .t4-c1__light, .t4-c2__light, .t4-c3__light, .t4-c4__light, .t5-white__light, .t5-red__light, .t5-black__light, .t5-c1__light, .t5-c2__light, .t5-c3__light, .t5-c4__light {
  font-weight: 300; }

.t_normal, .t1-white__normal, .t1-red__normal, .t1-black__normal, .t1-c1__normal, .t1-c2__normal, .t1-c3__normal, .t1-c4__normal, .t2-white__normal, .t2-red__normal, .t2-black__normal, .t2-c1__normal, .t2-c2__normal, .t2-c3__normal, .t2-c4__normal, .t3-white__normal, .t3-red__normal, .t3-black__normal, .t3-c1__normal, .t3-c2__normal, .t3-c3__normal, .t3-c4__normal, .t4-white__normal, .t4-red__normal, .t4-black__normal, .t4-c1__normal, .t4-c2__normal, .t4-c3__normal, .t4-c4__normal, .t5-white__normal, .t5-red__normal, .t5-black__normal, .t5-c1__normal, .t5-c2__normal, .t5-c3__normal, .t5-c4__normal {
  font-weight: 400; }

.t_bold, .t1-white__bold, .t1-red__bold, .t1-black__bold, .t1-c1__bold, .t1-c2__bold, .t1-c3__bold, .t1-c4__bold, .t2-white__bold, .t2-red__bold, .t2-black__bold, .t2-c1__bold, .t2-c2__bold, .t2-c3__bold, .t2-c4__bold, .t3-white__bold, .t3-red__bold, .t3-black__bold, .t3-c1__bold, .t3-c2__bold, .t3-c3__bold, .t3-c4__bold, .t4-white__bold, .t4-red__bold, .t4-black__bold, .t4-c1__bold, .t4-c2__bold, .t4-c3__bold, .t4-c4__bold, .t5-white__bold, .t5-red__bold, .t5-black__bold, .t5-c1__bold, .t5-c2__bold, .t5-c3__bold, .t5-c4__bold {
  font-weight: 600; }

/* .字体大小(t1~t5)-颜色(c1~c5)__字体粗细(light/normal/bold) 如: .t3-c2__bold*/
.t1-white {
  color: #fff; }

.t1-red {
  color: #d10000; }

.t1-black {
  color: #231815; }

.t1-c1, .t1-c1__light, .t1-c1__normal, .t1-c1__bold {
  color: #333333; }

.t1-c2, .t1-c2__light, .t1-c2__normal, .t1-c2__bold {
  color: #999999; }

.t1-c3, .t1-c3__light, .t1-c3__normal, .t1-c3__bold {
  color: #b9b9b9; }

.t1-c4, .t1-c4__light, .t1-c4__normal, .t1-c4__bold {
  color: #fadbdb; }

.t2-white {
  color: #fff; }

.t2-red {
  color: #d10000; }

.t2-black {
  color: #231815; }

.t2-c1, .t2-c1__light, .t2-c1__normal, .t2-c1__bold {
  color: #333333; }

.t2-c2, .t2-c2__light, .t2-c2__normal, .t2-c2__bold {
  color: #999999; }

.t2-c3, .t2-c3__light, .t2-c3__normal, .t2-c3__bold {
  color: #b9b9b9; }

.t2-c4, .t2-c4__light, .t2-c4__normal, .t2-c4__bold {
  color: #fadbdb; }

.t3-white {
  color: #fff; }

.t3-red {
  color: #d10000; }

.t3-black {
  color: #231815; }

.t3-c1, .t3-c1__light, .t3-c1__normal, .t3-c1__bold {
  color: #333333; }

.t3-c2, .t3-c2__light, .t3-c2__normal, .t3-c2__bold {
  color: #999999; }

.t3-c3, .t3-c3__light, .t3-c3__normal, .t3-c3__bold {
  color: #b9b9b9; }

.t3-c4, .t3-c4__light, .t3-c4__normal, .t3-c4__bold {
  color: #fadbdb; }

.t4-white {
  color: #fff; }

.t4-red {
  color: #d10000; }

.t4-black {
  color: #231815; }

.t4-c1, .t4-c1__light, .t4-c1__normal, .t4-c1__bold {
  color: #333333; }

.t4-c2, .t4-c2__light, .t4-c2__normal, .t4-c2__bold {
  color: #999999; }

.t4-c3, .t4-c3__light, .t4-c3__normal, .t4-c3__bold {
  color: #b9b9b9; }

.t4-c4, .t4-c4__light, .t4-c4__normal, .t4-c4__bold {
  color: #fadbdb; }

.t5-white {
  color: #fff; }

.t5-red {
  color: #d10000; }

.t5-black {
  color: #231815; }

.t5-c1, .t5-c1__light, .t5-c1__normal, .t5-c1__bold {
  color: #333333; }

.t5-c2, .t5-c2__light, .t5-c2__normal, .t5-c2__bold {
  color: #999999; }

.t5-c3, .t5-c3__light, .t5-c3__normal, .t5-c3__bold {
  color: #b9b9b9; }

.t5-c4, .t5-c4__light, .t5-c4__normal, .t5-c4__bold {
  color: #fadbdb; }

/* 字体 */
/* 宽度 */
/* 圆角 */
.theme-dark {
  color: #000 !important;
  border-color: #000 !important; }

.theme-dark::placeholder {
  color: #000 !important; }

.theme-light {
  color: #fff !important;
  border-color: #fff !important; }

.theme-light::placeholder {
  color: #fff !important; }

.ft-red {
  color: #ff3838; }

.ft-green {
  color: #75ea27; }

/* 字体 */
/* 宽度 */
/* 圆角 */
.theme-1 {
  --color-item-bg: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
  --color-action: #121019;
  --color-button-bg: #121019;
  --color-button-text: #fff;
  --button-padding: .5rem 1rem;
  --radius-button: 5px;
  --border-button: 0; }

.particles {
  position: relative;
  grid-area: 1 / 1 / 2 / 2; }

.particles-canvas {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.particles-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.particles-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border-radius: 5px;
  border-radius: var(--radius-button);
  background: var(--color-button-bg);
  color: var(--color-button-text);
  border: 0;
  border: var(--border-button);
  margin: 0;
  padding: 1.5rem 3rem;
  padding: var(--button-padding); }

.particles-button:focus {
  outline: none; }

.no-js .particles-button {
  grid-area: 1 / 1 / 2 / 2; }

p {
  margin: 0; }

.mainBox {
  display: none; }

.freshBtn {
  display: none;
  position: absolute;
  bottom: -3rem;
  right: 14%;
  height: 60px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  background: #b3b3b3;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center; }

.rush-ticket-btn {
  margin-top: 1rem;
  background: #ffbe33;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
  color: #fff;
  border: none;
  margin-bottom: .5rem; }

.rushed {
  width: 100%;
  text-align: center;
  display: none; }

.rush {
  display: none;
  position: relative; }
  .rush-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10px;
    color: #fff;
    font-weight: 200;
    font-size: 24px; }
  .rush-button {
    display: none;
    padding: 0;
    height: 1rem;
    width: 4rem;
    margin-top: 1rem;
    background: #2581d4;
    color: #fff;
    font-size: 16px;
    font-weight: 300; }
  .rush-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 10px 0 10px;
    width: 9rem;
    height: 5.5rem;
    margin-top: 2rem;
    border-radius: 10px;
    background: #fbf5f5;
    border: 1px solid #D9D9D9; }
  .rush .ycard-icon {
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid #D9D9D9; }
    .rush .ycard-icon .t2, .rush .ycard-icon .t2-white, .rush .ycard-icon .t2-red, .rush .ycard-icon .t2-black, .rush .ycard-icon .t2-c1, .rush .ycard-icon .t2-c1__light, .rush .ycard-icon .t2-c1__normal, .rush .ycard-icon .t2-c1__bold, .rush .ycard-icon .t2-c2, .rush .ycard-icon .t2-c2__light, .rush .ycard-icon .t2-c2__normal, .rush .ycard-icon .t2-c2__bold, .rush .ycard-icon .t2-c3, .rush .ycard-icon .t2-c3__light, .rush .ycard-icon .t2-c3__normal, .rush .ycard-icon .t2-c3__bold, .rush .ycard-icon .t2-c4, .rush .ycard-icon .t2-c4__light, .rush .ycard-icon .t2-c4__normal, .rush .ycard-icon .t2-c4__bold {
      margin-left: 20px; }
  .rush .ycard-img {
    height: 1.2rem; }
  .rush .ycard-img.user {
    margin-left: 3rem; }
  .rush .ycard-time {
    margin-top: 4px;
    width: 100%;
    justify-content: space-between; }
  .rush .ycard-user {
    margin-top: 6px;
    width: 100%; }
    .rush .ycard-user .t3, .rush .ycard-user .t3-white, .rush .ycard-user .t3-red, .rush .ycard-user .t3-black, .rush .ycard-user .t3-c1, .rush .ycard-user .t3-c1__light, .rush .ycard-user .t3-c1__normal, .rush .ycard-user .t3-c1__bold, .rush .ycard-user .t3-c2, .rush .ycard-user .t3-c2__light, .rush .ycard-user .t3-c2__normal, .rush .ycard-user .t3-c2__bold, .rush .ycard-user .t3-c3, .rush .ycard-user .t3-c3__light, .rush .ycard-user .t3-c3__normal, .rush .ycard-user .t3-c3__bold, .rush .ycard-user .t3-c4, .rush .ycard-user .t3-c4__light, .rush .ycard-user .t3-c4__normal, .rush .ycard-user .t3-c4__bold {
      margin-left: 20px; }
  .rush .ycard-info {
    margin-top: 6px;
    width: 100%; }
    .rush .ycard-info p {
      text-align: start; }

.main {
  overflow: hidden;
  position: relative;
  background-size: cover; }
  .main-title {
    padding-top: 1.6rem;
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 24px; }
  .main-des {
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 16px; }
  .main-title_light {
    color: #fff; }
  .main-title_dark {
    color: #000; }
  .main-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    padding: 1.3rem .5rem 0 .5rem; }
  .main-input {
    width: 7rem;
    height: 1rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 10px;
    color: #fff; }
    .main-input::placeholder {
      color: #fff;
      font-size: 16px;
      font-weight: 300; }
    .main-input:focus {
      outline: none; }
    .main-input-label, .main-input-holder {
      width: 1.5rem;
      color: #fff;
      font-size: 16px;
      font-weight: 300; }
    .main-input-label {
      font-size: 12px;
      padding-left: 10px; }
  .main-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    display: block;
    padding: 0;
    height: 1.4rem;
    width: 4rem;
    margin-top: 2rem;
    background: #2581d4;
    color: #fff;
    font-size: 22px; }
  .main-footer {
    display: none;
    width: 100%; }
    .main-footer-power {
      line-height: 1rem;
      text-align: center;
      color: #000000;
      width: 100%;
      position: fixed;
      bottom: 1rem;
      left: 0;
      font-weight: 300;
      font-size: 18px; }
