@import "utils";
@import "variables";
@import "components/loader";

.freshBtn {
  display: none;
  position: absolute;
  bottom: -160px;
  right:14%;
  height: 60px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  background: #b3b3b3;
  @include allMidBox();
}


.admin{
  &-login{
    display: none;
    .input {
      background: transparent;
      width: 260px;
      height: 40px;
      margin-top: 20px;
      padding-left: 10px;
      border-radius: 8px;
      border: 1px solid $borderClr;
    }
    .input:focus {
      outline: none;
      border: 1px solid $borderClr;
    }
  }
  &-main{
    display: none;
  }
}

#js-modal-excel {
  display: none;
}
.modal{
  &-addAct {
    display: none;
    .mg20 {
      margin-left: 20px;
      margin-top: 20px;
    }
    .input-group,.message {
      margin-left: 20px;
      margin-top: 20px;
      width: 400px;
    }
    .btn-group {
      margin-left: 20px;
      margin-top: 20px;
    }
  }
  &-showAct {
    display: none;
  }
}
.swal-overlay {
  z-index: 19891015!important;
}
