@import "components/loader";
@import "utils";
@import "theme";
@import "variables";
@import "components/button";

p {
  margin: 0;
}

.mainBox{
  display: none;
}

.freshBtn {
  display: none;
  position: absolute;
  bottom: -3rem;
  right:14%;
  height: 60px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  background: #b3b3b3;
  @include allMidBox();
}

.rush-ticket-btn {
  margin-top: 1rem;
  background: $yellow;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
  color: $light;
  border: none;
  margin-bottom: .5rem;
}

.rushed{
  width: 100%;
  text-align: center;
  display: none;
}


.rush {
  display: none;
  position: relative;
  &-title{
    position: absolute;
    width: 100%;
    text-align: center;
    top:10px;
    color: $light;
    font-weight: 200;
    font-size: 24px;
  }
  &-button {
    //@include rowMidBox();
    display: none;
    padding: 0;
    height: 1rem;
    width: 4rem;
    margin-top: 1rem;
    background: $blue;
    color: $light;
    font-size: 16px;
    font-weight: 300;
  }
  &-card {
    @include colMidBox();
    padding: 10px 10px 0 10px ;
    width: 9rem;
    height: 5.5rem;
    margin-top: 2rem;
    border-radius: 10px;
    background: #fbf5f5;
    border: 1px solid $borderClr;
  }
  .ycard {
    &-icon {
      width: 100%;
      padding-bottom: 4px;
      border-bottom: 1px solid $borderClr;
      .t2 {
        margin-left: 20px;
      }
    }
    &-img{
      height: 1.2rem;
    }
    &-img.user{
      margin-left: 3rem;
    }
    &-time{
      margin-top: 4px;
      width: 100%;
      justify-content: space-between;
    }
    &-user{
      margin-top: 6px;
      width: 100%;
      .t3 {
        margin-left: 20px;
      }
    }
    &-info{
      margin-top: 6px;
      width: 100%;
      p {
        text-align: start;
      }
    }
  }
}

.main {
  overflow: hidden; // bfc
  position: relative;
  //background: url("/assets/devPics/bg.png") center no-repeat;
  background-size: cover;
  &-title {
    padding-top: 1.6rem;
    color: $light;
    text-align: center;
    font-weight: 200;
    font-size: 24px;
  }
  &-des {
    color: $light;
    text-align: center;
    font-weight: 200;
    font-size: 16px;

  }
  &-title_light {
    color: $light;
  }
  &-title_dark {
    color: $dark;
  }

  &-container {
    @include colMidBox();
    overflow: hidden;
    padding: 1.3rem .5rem 0 .5rem;
  }

  &-input {
    width: 7rem;
    height: 1rem;
    background: transparent;
    border: 1px solid $light;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 10px;
    color: $light;
    &::placeholder {
      color: $light;
      font-size: 16px;
      font-weight: 300;
    }
    &:focus {
      outline: none;
    }
    &-label, &-holder {
      width: 1.5rem;
      color: $light;
      font-size: 16px;
      font-weight: 300;
    }
    &-label {
      font-size: 12px;
      padding-left: 10px;
    }
  }

  &-button {
    @include rowMidBox();
    display: block;
    padding: 0;
    height: 1.4rem;
    width: 4rem;
    margin-top: 2rem;
    background: $blue;
    color: $light;
    font-size: 22px;
    //font-weight: 300;
    //background: rgba(252,13,27,1);
  }
  &-footer {
    display: none;
    //position: absolute;
    //bottom: .2rem;
    width: 100%;
    &-power {
      line-height: 1rem;
      text-align: center;
      color: #000000;
      width: 100%;
      position: fixed;
      bottom: 1rem;
      left: 0;
      font-weight: 300;
      font-size: 18px;
    }
  }
}

