$blue: #2581d4;
$yellow: #ffbe33;
$red: #d10000;
$light : #fff;
$dark: #000;
$green: #75ea27;

$white: #fff;



$borderClr: #D9D9D9; // 边框色
$borderClr__hover: #E01B1C; // 边框色__选中态

$fontClr_main: #231815; //主要字体色
$fontClr_1st: #333333; // 一级提示
$fontClr_2nd: #999999; // 二级提示
$fontClr_3rd: #b9b9b9; // 三级提示
$fontClr_4th: #fadbdb;

$fontClr_info_input: #666666;
$fonrClr_info_label: #333333;
/* 字体 */
$fontSiz_main: 36px;
$fontInfo: 32px;

/* 宽度 */
$borderSiz_main: 2px;

/* 圆角 */
$radious_main: 40px;